WSProj-13-JAXWS-AXIS2-Implementation-ServerSide/META-INF/BookServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://sevices.bookService.com" xmlns:impl="http://sevices.bookService.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:intf="http://sevices.bookService.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns1="http://domain.bookService.com">
  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="http://sevices.bookService.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://domain.bookService.com"/>
   <element name="searchBook">
    <complexType>
     <sequence>
      <element name="isbn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchBookResponse">
    <complexType>
     <sequence>
      <element name="searchBookReturn" type="tns1:Book"/>
     </sequence>
    </complexType>
   </element>
  </schema>
    <schema elementFormDefault="qualified" targetNamespace="http://domain.bookService.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Book">
    <sequence>
     <element name="author" nillable="true" type="xsd:string"/>
     <element name="isbn" type="xsd:int"/>
     <element name="price" type="xsd:double"/>
     <element name="title" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  </wsdl:types>
  <wsdl:message name="searchBookRequest">
    <wsdl:part name="parameters" element="impl:searchBook">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchBookResponse">
    <wsdl:part name="parameters" element="impl:searchBookResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BookServiceImpl">
    <wsdl:operation name="searchBook">
      <wsdl:input name="searchBookRequest" message="impl:searchBookRequest">
    </wsdl:input>
      <wsdl:output name="searchBookResponse" message="impl:searchBookResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BookServiceImplSoapBinding" type="impl:BookServiceImpl">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="searchBook">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="searchBookRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchBookResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookServiceImplService">
    <wsdl:port name="BookServiceImpl" binding="impl:BookServiceImplSoapBinding">
      <wsdlsoap:address location="http://localhost:3030/Book_WebService_Axis/services/BookServiceImpl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
